html, body {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
}

.identity {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:  #130400;
  filter: hue-rotate(var(--mouse-deg, 0deg));
  transition-property: filter;
  transition-timing-function: ease-in-out;
}
.identity .logo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: url("./fox.svg") center center no-repeat;
  background-size: contain;
}
.identity .tag {
  font-size: 1.75rem;
  font-weight: 700;
  color: #FFF;
  letter-spacing: -1pt;
}
